# Composer Vendor
/vendor

# Node Modules
/node_modules

# View Cache
/cache/views/**/*
!/cache/views/.gitkeep

# I18n Cache
/cache/langs/**/*
!/cache/langs/.gitkeep

# Log Cache
/cache/logs/**/*
!/cache/logs/.gitkeep

# Files Cache
/cache/files/**/*
!/cache/files/.gitkeep

# Bundles Cache
/public/bundles/**/*

# ENV
/.env
